:root {
    --primary: #003366;
    --primary-dark: #002447;
    --light: #fff;
    --dark: #333;
    --bkg-service: #F47F34;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header {
    background-image: url("/img/img-topo.jpg");
    height: 50vh;
}

h1 {
    color: var(--light);
    text-align: center;
    font-size: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    color: #fff;
}

.logo-topo img {
    width: 396px;
    height: 78px;
    margin: 50px 50px;
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin: 50px auto;
}

.servicos {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary);
    padding: 50px;
}

.fa-solid {
    font-size: 140px;
}

.servico {
    color: var(--light);
    width: 350px;
    text-align: center;
}

.svg-servico {
    background-color: var(--bkg-service);
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2, p {
    margin: 30px 0;
}

.title {
    font-size: 45px;
}

.conteudo {
    font-size: 25px;
    text-align: center;
}

.btn {
    text-decoration: none;
    color: var(--light);
    border: 2px solid var(--light);
    border-radius: 30px;
    width: 220px;
    padding: 8px;
    display: inline-block;
    font-size: 25px;
}

.bem-vindo {
    background-color: var(--primary-dark);
    color: var(--light);
    text-align: center;
}

.titulo {
    margin: 0;
    padding-top: 100px;
    text-align: center;
    font-size: 50px;
}

.subtitulo {
    font-size: 25px;
    color: var(--bkg-service);
}

.txt {
    font-size: 25px;
    width: 1050px;
    margin: 20px auto;
}

section.bem-vindo a {
    margin-bottom: 40px;
}

.laranja {
    color: var(--bkg-service);
}

.branco {
    color: var(--light);
}

.nossos-servicos > h2 {
    margin-bottom: 80px;
}

.outros-servicos {
    display: flex;
    justify-content: space-around;

}

.box-servico {
    width: 215px;
    text-align: center;
    border-radius: 30px;
    padding: 40px 20px;
}

.box-servico:hover {
    background-color: #eee;
}

.box-servico h2 {
    font-size: 30px;
    margin: 20px auto;
}

.box-servico p {
    font-size: 20px;
}

.contato {
    background-color: var(--bkg-service);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 10px;
    margin: 40px auto;
}

input {
    border-radius: 30px;
    border: 2px solid var(--light);
    padding: 15px 20px;
    color: var(--light);
    background: none;
    display: block;
}

input::placeholder {
    color: var(--light);
}

input:focus {
    outline: 0;
}

textarea {
    border-radius: 10px;
    resize: none;
    padding: 10px;
}

textarea:focus {
    outline: 0;
}

.contato a {
    background-color: var(--light);
    text-decoration: none;
    padding: 10px;
    color: var(--bkg-service);
    border-radius: 30px;
    width: 100px;
    margin: 30px auto;
}

.contato a:hover {
    background-color: var(--bkg-service);
    color: var(--light);
    transition: all .5s;
}

.mapa {
    height: 60vh;
}

iframe {
    width: 100%;
    height: 100%;
}

footer {
    background-color: var(--primary-dark);
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer > :first-child {
    display: flex;
    justify-content: space-around;
}

.footer-item {
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--light);
}

.fas, .fab {
    font-size: 30px;
}

.logo-rodape {
    text-align: center;
    color: var(--light );
}

.logo-rodape p {
    margin: 0 auto;
}